//COLORS

$Pale-Blue: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Dark-Blue: hsl(228, 56%, 26%);
$Very-Dark-Blue: hsl(229, 57%, 11%);
$White:#fff;

//UI

$background-body:$Very-Dark-Blue;
$background-card:$Dark-Blue;
$background-icon:$Very-Dark-Blue;
$background-remaining:$White;

$color-main:$Pale-Blue;
$color-remaining:$Very-Dark-Blue;
